<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  <!-- div complete-conteiner para que pueda quedar fijo el header y el resto escrolea como una sola cosa, sino el footer quedaba descolgado -->
  <div class="complete-conteiner">
  <main>
      <section class="product">
      <h2 id="novedades">Novedades</h2>

        <% for (const product of novedades){ %>
          <%- include('./partials/product-item', {product}) %>

        <% } %>
      </section>

    <section class="product">
      <h2 id="mas-vendidos">Más Vendidos</h2>

      <% for (const product of masVendidos){ %>
        <%- include('./partials/product-item', {product}) %>

      <% } %>

    </section>
    <section class="product">
      <h2 id="sagas">Sagas</h2>

      <% for (const product of sagas){ %>
        <%- include('./partials/product-item', {product}) %>

      <% } %>

    </section>

    <section class="product">
      <h2 id="packs">Packs</h2>

      <% for (const product of packs){ %>
        <%- include('./partials/product-item', {product}) %>

      <% } %>

    </section>

  </main>

  <%- include('./partials/footer') %>
  </div>
</body>
</html>