<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  
  <%- include('./partials/header') %>
 

  <!-- div complete-conteiner para que pueda quedar fijo el header y el resto escrolea como una sola cosa, sino el footer quedaba descolgado -->
  <div class="complete-conteiner">
  <main>
      <section class="product">

        <% for (let i=0; i < categories.length; i++){%>
          <h2 id="<% categories[i].name %>"><%= categories[i].name %></h2>
          <% for (let j=0 ; j <= categories[i].products.length; j++){%>

            <article class="product-box">
              <div class="product-img"> 
                <a href="products/detail/<%= products[j].id %>"><img src="images/products/<%=products[j].image%>" alt="<%=products[j].title %>"/></a>
              </div>
              <div class="product-title">
                <h4><%=products[j].title %></h4>
                <span>$ <%=products[j].price %></span>
              </div>            
            </article>



          <% } %>
          
        
        <% } %> 
      
      </section>

    
    

    

  </main>

  <%- include('./partials/footer') %>
  </div>
</body>
</html>