<article class="product-box">
    <div class="product-img"> 
      <a href="product-detail/<%=product.id %>"><img src="images/<%=product.img%>" alt="<%=product.titulo %>"/></a>
    </div>
    <div class="product-title">
      <h4><%=product.titulo %></h4>
      <span>$ <%=product.precio %></span>
    </div>            
  </article>
  